@{
    ViewData["Title"] = "Home Page";
}


<h1> Welcome to Lab 23 </h1>

Please Click Below to Login. :)
<h2>
    <a asp-controller="Login" asp-action="Login"> Login</a>
</h2>


If you don't have an account please register.
<h2>
    <a asp-controller="Login" asp-action="Register"> Register</a>
</h2>



